/*
  Arquivo de Estilos Customizados para o sistema Clean UP Shoes
*/

body {
    font-family: 'Poppins', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.font-logo {
    font-family: 'Permanent Marker', cursive;
}

/* Estilo para o gradiente dos botões principais */
.btn-gradient {
    background-image: linear-gradient(to right, #84cc16, #a3e635);
}

/* Regras de Impressão: */
@media screen {
  /* Esconde a área de impressão apenas no ecrã */
  #print-area {
    display: none;
  }
}

@media print {
  /* Esconde tudo o que não for a área de impressão */
  body > *:not(#print-area) {
    display: none;
  }

  /* Garante que a área de impressão e o seu conteúdo sejam visíveis */
  #print-area, #print-area * {
    display: block;
    visibility: visible;
  }

  /* Posiciona a área de impressão para ocupar toda a página */
  #print-area {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
  }
}
